body {
	height: 700px;
}
#container {
	width: 700px;
	margin: 10px auto;
	background-color: white;
	padding: 20px;
	height: 300px;
	border: 2px solid black;
}
h1 {
	text-align: center;
}
.div1, .div2 {
	width: 400px;
	border:5px solid #999;
	background-color: #bbb;
	padding:10px;
	text-align: center;
}

.div2 {
	display:none;
}
